html, body {
	margin: 0px;
	padding: 0px;
}
.page-title {
	text-align: center;
	font-size: 24px;
	margin: 10px 0px;
	font-weight: bold;
}
.top-container {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.main-container {
	width: 600px;
	margin: 10px auto 10px auto;
}
.test {
	margin: 16px 0px;
}
.label {
	font-size: 16px;
}
.container {
	padding: 10px;
	background: #EFEFEF;
}
.banner {
	width: 520px;
	height: 90px;
}
.advertisement {
	background: #C8F3F0;
}
.small.advertisement {
	width: 200px;
	height: 120px;
}
.fixed {
	position: fixed;
}
.relative-position {
	position: relative;
}
.absolute-position {
	position: absolute;
}
.test-b .container {
	height: 90px;
}
.iframe {
	border: 0px;
}
.test-h.fixed.advertisement {
	left: 10px;
	top: 200px;
}
.test-i.fixed {
	left: 10px;
	top: 10px;
}
.test.test-j {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
.test.test-k {
	bottom: 20px;
	right: 20px;
}
.test.test-l .item {
	padding: 10px;
}
.test.test-m .item {
	margin: 15px;
}
.ad-collection-unit {
	width: 80px;
	height: 100px;
	margin: 20px;
}
.section-break {
	text-decoration: underline;;
	font-weight: bold;
}
