/*******************************************************************************

    µBlock - a browser extension to block requests.
    Copyright (C) 2014-2015 The µBlock authors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://github.com/chrisaljoudi/uBlock
*/

/* global self, µBlock */

/******************************************************************************/

(function(){

/******************************************************************************/

// Copy this config and remove the .example extension. Use that file
// to change the config for your local environment.
// For example:
// µBlock.goodblock.config.isDev = false;
// µBlock.goodblock.config.timeMsToSnooze = 6 * 1000;
// µBlock.goodblock.config.timeMsToSleep = 20 * 1000;

/******************************************************************************/

µBlock.goodblock.config.isDev = true;
// µBlock.goodblock.config.timeMsToPollServer = 10 * 60 * 1000;
µBlock.goodblock.config.timeMsToPollServer = 5 * 1000;

µBlock.goodblock.config.devConfig.timeMsToSnooze = 3 * 1000;
µBlock.goodblock.config.devConfig.timeMsToSleep = 8 * 1000;
µBlock.goodblock.config.baseUrl = 'https://goodblock.gladly.dev';

µBlock.goodblock.config.gladlyHostnames = [
    'gladly.io',
    'goodblock.gladly.io',
    'tab.gladly.io',
    'tabforacause.gladly.io',
    'gladlyads.xyz',
    'goodblock.org',
    'tabforacause.org',
    'gladly.dev',
    'goodblock.gladly.dev',
    'tab.gladly.dev',
];
µBlock.goodblock.config.gladlyAdUrls = [
    'https://goodblock.gladly.io/app/ad/',
    // Some uncertainty about what we will choose
    // as the final URL.
    'https://gladly.io/app/ad/',
    'https://www.gladly.io/app/ad/',
    'https://goodblock.org/app/ad/',
    'https://www.goodblock.gladly.io/app/ad/',
];


// Begin content support test config.

// Milliseconds of staying on the same webpage before the Goodblock
// icon checks if it should appear.
µBlock.goodblock.config.contentSupportTestAppearDelayMs = 2 * 1000; // 2 seconds

// Milliseconds after the Goodblock icon appears before we
// allow another Goodblock icon to appear.
µBlock.goodblock.config.contentSupportTestAppearanceThrottleMs = 10 * 1000; // 10 seconds

// Milliseconds after a user responds to a content support request
// before we allow another Goodblock icon to appear.
µBlock.goodblock.config.contentSupportTestResponseThrottleMs = 20 * 1000; // 20 seconds

// Milliseconds to wait after a user supports a website before
// we ask again for that hostname.
µBlock.goodblock.config.contentSupportTestSupportThrottleMs = 45 * 1000; // 45 seconds

// Milliseconds to wait after a user supports a website before
// we ask again for that hostname.
µBlock.goodblock.config.contentSupportTestRejectThrottleMs = 2 * 60 * 1000; // 2 minutes

// End content support test config.

/******************************************************************************/

})();
