/*
.goodblock-icon-appear {
  left: -1000px !important;
  transition: left 1.5s ease-in !important;
}

.goodblock-icon-appear.goodblock-icon-appear-active {
  left: 10px !important;
}
*/

.goodblock-icon-appear {
	visibility: hidden !important;
	animation-name: slideRight;
	animation-duration: 1s;
	animation-delay: 1.3s;
	animation-timing-function: ease-in-out;
}

.goodblock-icon-appear.active {
	visibility: visible !important;
}

.goodblock-icon-leave {
	animation-name: slideLeft;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

@keyframes slideRight {
	0% {
		visibility: visible !important;
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@keyframes slideLeft {		
	100% {
		transform: translateX(-150%);
	}
}

.snooze-appear, .snooze-enter {
	opacity: 0.01;
	transition: opacity 0.3s ease-in;
}

.snooze-appear-active, .snooze-enter-active {
	opacity: 1;
}

.snooze-leave {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.snooze-leave.snooze-leave-active {
	opacity: 0.01;
}
