/*
.goodblock-icon-appear {
  left: -1000px !important;
  transition: left 1.5s ease-in !important;
}

.goodblock-icon-appear.goodblock-icon-appear-active {
  left: 10px !important;
}
*/

.goodblock-icon-enter, .goodblock-icon-appear {
	visibility: hidden !important;
}

.goodblock-icon-enter-active, .goodblock-icon-appear-active {
	visibility: visible !important;
	animation-name: slideRight;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.goodblock-icon-leave {
	animation-name: slideLeft;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@keyframes slideLeft {		
	100% {
		transform: translateX(-150%);
	}
}

.snooze-appear, .snooze-enter {
	opacity: 0.01;
	transition: opacity 0.25s linear;
}

.snooze-appear-active, .snooze-enter-active {
	opacity: 1;
}

.snooze-leave {
	opacity: 1;
	transition: opacity 0.15s linear;
}

.snooze-leave.snooze-leave-active {
	opacity: 0.01;
}

.speech-bubble {
	position: relative;
    padding: 10px;
    margin: 1em 0 3em;
    /*border: 5px solid #FF0000;*/
    border: 5px solid transparent;
    color: #333;
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 6px 18px;
}

.speech-bubble:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10px;
    border-width: 20px 20px 0;
    border-style: solid;
    /*border-color: #FF0000 transparent;*/
    border-color: transparent;
    display: block;
    width: 0;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 17px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #000 transparent;
    display: block;
    width: 0;
}

.ad-enter {
	left: -100% !important;
	
}

.ad-enter-active {
	-webkit-animation: moveToRightFade .7s ease both;
	animation: moveToRightFade .7s ease both;
}

@keyframes moveToRightFade {
	from { }
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

.ad-leave {
}

.ad-leave-active {
	-webkit-animation: moveToLeftFade .7s ease both;
	animation: moveToLeftFade .7s ease both;
}

@keyframes moveToLeftFade {
	from { }
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.ad-dimmer-enter {
	background: rgba(0, 0, 0, 0.01) !important;
	transition: background 0.7s ease;
}

.ad-dimmer-enter-active {
	background: rgba(0, 0, 0, 0.7) !important;
}

.ad-dimmer-leave {
	background: rgba(0, 0, 0, 0.7) !important;
	transition: background 0.7s ease;
}

.ad-dimmer-leave-active {
	background: rgba(0, 0, 0, 0.01) !important;
}

.goodblock-ad-unit-leave {
	opacity: 1 !important;
}

.goodblock-ad-unit-leave-active {
	opacity: 0 !important;
}
