body {
    background-color: rgb(21, 109, 143);
    color: white;
    border: 0;
    font: 13px Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
h1 {
    background-color: rgb(21, 109, 143);
    border: 0;
    color: white;
    margin:  10px;
    padding: 7px 2px 4px 2px;
    text-align:left;
}
a {
    color: inherit;
    text-decoration: none;
    }
:focus {
    outline: 0;
    }
#content {
    max-width: 900px;
    margin: 0 auto;
}
#welcome-text {
    float: left;
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 18px;
}
#tad-preview {
    float: left;
    display: block;
    width: 35%;
    padding: 10px;
}
#tad-preview > img {
    width: 100%;
}